.container {
    text-align: center;
    align-items: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    flex-wrap: wrap;
}

nav li {
    float: right;
    list-style-type: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.logo{
    width: 100px;
    float: left;
}

.card {
    float: left;
    margin: 10px;
}

.jumbotron {
    background-image: url(https://i.stack.imgur.com/y9DpT.jpg);
    background-position: center;
}

footer {
    float: right;
}